<section class="product-detail">
     <div class="container-fluid">
        <div class="container">
			<div class="row">
				<div class="col-md-6">
					<img class="fit-img"src="/content/dam/hclecomm/product.jpg">
				</div>
				<sly data-sly-use.model="com.hcl.ecomm.core.models.ProductPageModel"/>
				<sly data-sly-test.myMap="${model.productMap}" >
					<div class="col-md-6">
				
						<h1 id="name">${myMap['name']}</h1>
						<p id="subTitle">High-intensity & Fast-absorbing Hydrator</p>
						<div class="long-description" class="hidden-xs" id="description">
							${myMap['description']}
						</div>
						  <div class="text-wrapper">
							<span class="price-withoutTax" id="price">${myMap['price']}</span>
							<span class="text-up">per Licence</span>
						  </div>

						  <div class="form-wrapper">
							  <div data-product-option-change="" style="" class="product-options">
								  <div class="form-field form-field--increments">
									  <label>Qty:</label>
									  <div class="form-increment" data-quantity-change="">
										  <button class="button button--icon nograd" data-action="dec">
											  <i class="icon minus" aria-hidden="true"></i>
										  </button>
										  <input class="form-input form-input--incrementTotal" id="qty[]" name="qty[]" type="tel" value="1" data-quantity-min="0" data-quantity-max="10" min="1" pattern="[0-9]*" aria-live="polite">
										  <button class="button button--icon nograd" data-action="inc">
											  <i class="icon plus" aria-hidden="true"></i>
										  </button>
									  </div>
								  </div>
							  </div>

							  <div class="btn-buy">
								  <a href="${properties.button1link}">${properties.button1text}</a>
							  </div>
						</div>
					  </div>
				</sly>
			</div>
		</div>
    </div>
</section>
