<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.all @ categories='hclecomm.productDetail'}" />

<div class="productDetailBody" >
	<h1> Product Detail component</h1>
		  <div class="justify-content-md-center" >
					<div class="" data-product-sku="${properties.productSku}">
						<p>Product Name : <span class= "pName">Sample Name</span> </p>
						<p>Product Description : <span class = "pDescription">This is a Sample Description</span></p>
						<p>Product Price : <span class = "pPrice">0.0</span></p>  
					</div>
			  </div>
</div>