<footer class="footer">
        <section class="footer-info" >
          <article class="footer-info-col footer-info-col--small foot-icons-container">
                <h6>find latest on .<br>social.</h6>
                <a href="https://www.facebook.com/HCLTechnologies/" target="_blank"><img src="./SVG/icon-facebook.svg" class="foot-icons" alt="icon-facebook"></a>
                <a href="https://www.youtube.com/user/HCLTechtube" target="_blank"><img src="./SVG/icon-youtube.svg" class="foot-icons" alt="icon-youtube"></a>
          </article>
          <article class="footer-info-col footer-info-col--small foot-icons-container">
                <h6 class="tagCo">Company</h6>
                <ul class="footer-info-list">

                    <li>
                        <a href="#">Our Story</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Products</a>
                    </li>
                    <li>
                        <a href="#" class="find-us-desktop">Find Us</a>
                    </li>
                    <li>
                        <a href="#">Shop</a>
                    </li>

                </ul>
          </article>
          <article class="footer-info-col footer-info-col--small foot-icons-container">
                <h6 class="tagCo">Company</h6>
                <ul class="footer-info-list">

                    <li>
                        <a href="#">Our Story</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Products</a>
                    </li>
                    <li>
                        <a href="#" class="find-us-desktop">Find Us</a>
                    </li>
                    <li>
                        <a href="#">Shop</a>
                    </li>

                </ul>
          </article>
          <article class="footer-info-col footer-info-col--small foot-icons-container">
                <h6 class="tagCo">Company</h6>
                <ul class="footer-info-list">

                    <li>
                        <a href="#">Our Story</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Products</a>
                    </li>
                    <li>
                        <a href="#" class="find-us-desktop">Find Us</a>
                    </li>
                    <li>
                        <a href="#">Shop</a>
                    </li>

                </ul>
          </article>
          <article class="footer-info-col footer-info-col--small foot-icons-container">
                <h6 class="tagCo">Company</h6>
                <ul class="footer-info-list">

                    <li>
                        <a href="#">Our Story</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Products</a>
                    </li>
                    <li>
                        <a href="#" class="find-us-desktop">Find Us</a>
                    </li>
                    <li>
                        <a href="#">Shop</a>
                    </li>

                </ul>
          </article>
        </section>
      </footer>
