<header class="header">
        <div class="header-content">
          <div class="header-logo header-logo--center">
              <a href="https://www.hcltech.com/">
                <span class="header-logo-text">HCL Ecommerce</span>
              </a>
          </div>
          <div class="navPages-container" id="menu" data-menu="" aria-hidden="true">
            <nav class="navPages">
              <ul class="navPages-list">
                <li class="navPages-item">
                  <a class="navPages-action has-subMenu" href="#"><span>SEPC</span></a>
                  <div class="navPage-subMenu">
                        <ul class="navPage-subMenu-list">

                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="">What a Melon™</a>
                            </li>
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="">Rose Gold Rescue™</a>
                            </li>
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="">Spa-powered Masks</a>
                            </li>
                        </ul>
                  </div>
                </li>
                 <li class="navPages-item">
                   <a class="navPages-action has-subMenu" href="#"><span>SEPSBE</span></a>
                   <div class="navPage-subMenu">
                         <ul class="navPage-subMenu-list">

                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">What a Melon™</a>
                             </li>
                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">Rose Gold Rescue™</a>
                             </li>
                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">Spa-powered Masks</a>
                             </li>
                         </ul>
                   </div>
                 </li>
                 <li class="navPages-item">
                   <a class="navPages-action has-subMenu" href="#"><span>SEP14</span></a>
                   <div class="navPage-subMenu">
                         <ul class="navPage-subMenu-list">

                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">What a Melon™</a>
                             </li>
                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">Rose Gold Rescue™</a>
                             </li>
                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">Spa-powered Masks</a>
                             </li>
                         </ul>
                   </div>
                 </li>
                 <li class="navPages-item">
                   <a class="navPages-action has-subMenu" href="#"><span>SEP14</span></a>
                 </li>
                 <li class="navPages-item">
                   <a class="navPages-action has-subMenu" href="#"><span>SEP14</span></a>
                   <div class="navPage-subMenu">
                         <ul class="navPage-subMenu-list">

                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">What a Melon™</a>
                             </li>
                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">Rose Gold Rescue™</a>
                             </li>
                             <li class="navPage-subMenu-item">
                                 <a class="navPage-subMenu-action navPages-action" href="">Spa-powered Masks</a>
                             </li>
                         </ul>
                   </div>
                 </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
