<section class="product-detail">
      <div class="container-fluid">
        <div class="container">
          <div class="checkout-header">
                <h1>Checkout</h1>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="steps-block">
              	<div class="email-block">
              		<div class="stepHeader-counter"><span>1</span></div>
              		<h2 class="stepHeader-title optimizedCheckout-headingPrimary">Customer</h2>
              		<div class="form-wrapper">
              			<p><span>Checking out as a <strong>Guest</strong>? You'll be able to save your details to create an account with us later.</span></p>
              			<label>Email Address</label>
              			<input name="email" autocomplete="email" id="email" class="form-input optimizedCheckout-form-input" type="email" value="">

              			<div class="btn-continue"><a>Continue As Guest</a></div>
              		</div>
              	</div>
              	<div class="email-block">
              		<div class="stepHeader-counter"><span>2</span></div>
              		<h2 class="stepHeader-title optimizedCheckout-headingPrimary">Shipping</h2>
              		<div class="form-wrapper shipping-block">
              			<div class="fName">
              				<label>First Name</label>
              				<input name="fName" autocomplete="fName" id="fName" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="lName">
              				<label>Last Name</label>
              				<input name="lName" autocomplete="lName" id="lName" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="wd-100">
              				<label>Address Line 1</label>
              				<input name="" autocomplete="" id="" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="wd-100">
              				<label>Address Line 2</label>
              				<input name="" autocomplete="" id="" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="wd-100">
              				<label>Company Name</label>
              				<input name="" autocomplete="" id="" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="wd-40">
              				<label>Postal Code</label>
              				<input name="" autocomplete="" id="" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="wd-60">
              				<label>City</label>
              				<input name="" autocomplete="" id="" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="wd-100">
              				<label>Country</label>
              				<input name="" autocomplete="" id="" class="form-input optimizedCheckout-form-input" type="text" value="">
              			</div>
              			<div class="btn-continue"><a>Continue As Guest</a></div>
              		</div>
              	</div>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-4">
              <h1>SEPC product Heading</h1>
              <p>High-intensity & Fast-absorbing Hydrator</p>
              <div class="long-description" class="hidden-xs">
                <ul>
                  <li>This ultra-rich moisturizer absorbs instantly for silky smooth and supremely soft, never-greasy hands.</li>
                  <li>Smooths rough cuticles</li>
                  <li>Non-greasy and fast-absorbing</li>
                  <li>Supremely scented with our iconic Lemon &amp; Sage fragrance for an energizing pick-me-up</li>
                </ul>
              </div>
              <div class="text-wrapper">
                <span class="price-withoutTax">$5.00</span>
                <span class="text-up">per Licence</span>
              </div>

              <div class="form-wrapper">
                  <div data-product-option-change="" style="" class="product-options">
                      <div class="form-field form-field--increments">
                          <label>Qty:</label>
                          <div class="form-increment" data-quantity-change="">
                              <button class="button button--icon nograd" data-action="dec">
                                  <i class="icon minus" aria-hidden="true"></i>
                              </button>
                              <input class="form-input form-input--incrementTotal" id="qty[]" name="qty[]" type="tel" value="1" data-quantity-min="0" data-quantity-max="10" min="1" pattern="[0-9]*" aria-live="polite">
                              <button class="button button--icon nograd" data-action="inc">
                                  <i class="icon plus" aria-hidden="true"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div class="btn-buy">
                      <a>ADD To Cart</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>